:root{
  --primary-color: rgb(3,4,94);
  --margin: 0px;
}

.App{
  font-family: Graphik, sans-serif;
  font-size: 20px;
  margin: 0px;
  /* background-color: #A8BDEF; */
}

body{
  margin: 0px;
  padding: 0px;
}

input{
  border: 0;
  border-bottom: 1px solid black;
  width: 20vw;
}
button, h6, input{
  font-size: 20px;
}
button{
  box-shadow: 0;
  margin-right: 10px;
  margin-top: 10px;
  border: 0;
  border-radius: 10px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  color: white;
  background-color: var(--primary-color);;
}

.submit{
  width: 200px;
  height: 60px;
  font-size: 28px;
  border-radius: 35px;
}

.btn-lite{
  background-color:rgb(144,225,239);
}