.exam-sample{
text-align: center;
}

.exam-sample-flex{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
}
.exam-sample-flex img{
    width: 30%;
    height: 30%;
}