.exam-sample{
text-align: center;
}

.exam-sample-flex{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
}

.exam-sample-flex img{
    border: 2px solid transparent;
    width: 30%;
    height: 30%;
}

.exam-sample-flex img:hover{
    border: 2px solid rgb(3,4,94);
}