.exam{
    display: flex;
    flex-direction: row;
}

.exam-left{
    width: 1000px;
}
.exam-right{
    width: 1000px;
    /* background: var(--third-color); */
    background-image: linear-gradient(var(--third-color), var(--primary-color));
    /* background: transparent; */
}

.text-input{
    background-color: transparent;
    width: 300px;
    margin-top: 5px;
    color: white;
}

.text-input:hover{
    background-color: transparent;
}

.text-input:focus{
    background-color: transparent;
}

.exam-submit-flex{
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-top: 100px;
}
.exam-submit-flex > div{
    margin-top: 20px;
}

.left-adjust{
    margin-left: 60px;
}

.exam-submit-flex span{
    padding-right: 10px;
}

.exam-submit-flex button{
    margin-top: 60px; 
}

.logo {
    height: 128px;
}

.title {
    float: left;
}