.exam-upload{
    margin-top: 0px;
}

.dottedBorder{
    /* border: 1.5px #666666 dashed; */
    height: 1500px;
    width: 1000px;
    color: black;
    text-align: center;
    position: relative
}

.exam-upload canvas{
    z-index: 12;
    width: 100%;
    height: 100%;
}

/* .dottedBorder input{
    background: #00ffff;
}

#upload{
    background-color: #00ffff;
    color: #00ffff;
} */

.exam-upload span{
    opacity: 1;
    z-index: 3;
    position: relative;
    font-size: 25px;
    /* font-weight: lighter;  */
    top: 23%;
}


.exam-upload img{
    z-index: 6;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.exam-upload form{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}

.exam-upload input{
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.ft-awesome{
    opacity:1;
    color: var(--second-color);
    /* color: linear-gradient(var(--fourth-color), var(--third-color)); */
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 40% !important;
    /* box-shadow: var(--shadow); */
    /* z-index: 2; */
}

.ft-awesome:hover{
    opacity: 0.5
}
