.exam{
    display: flex;
    flex-direction: row;
}

.exam-left{
    width: 1000px;
}
.exam-right{
    width: 1000px;
    background: #53fafa;
}

.text-input{
    background-color: #53fafa;
}

.text-input:hover{
    background-color: #53fafa;
}

.text-input:focus{
    background-color: #53fafa;
}

.exam-submit-flex{
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-top: 100px;
}
.exam-submit-flex > div{
    margin-top: 20px;
}

.left-adjust{
    margin-left: 40px;
}

.exam-submit-flex span{
    padding-right: 10px;
}

.exam-submit-flex button{
    margin-top: 60px; 
}

.logo {
    height: 128px;
}

.title {
    float: left;
}